@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Inconsolata:400,700&subset=latin-ext');

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body {
    margin: 1em;
}

p, ol, ul {
    margin-top: 1rem;
}
ol, ul {
    margin-bottom: 1rem;
}

a {
    color: #0365C0;
    text-decoration: none;
}
a:hover {
    color: #0A4C8B;
    text-decoration: underline;
}

code, pre {
    font-family: "Inconsolata", "DejaVu Sans Mono", monospace;
    font-size: 90%;
    background: #fafafa;
    vertical-align: baseline;
}

pre {
    background: #fafafa;
    padding: 1em;
    border: 1px solid #eee;
    overflow-x: auto;
}

h1 {
    font-size: 1.838rem;
    line-height: 1.951rem;
    margin-top: 2.251rem;
}
h2 {
    font-size: 1.414rem;
    line-height: 1.414rem;
    margin-top: 1.714rem;
}
h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top: 1.7rem;
}
h4 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-top: 1.7rem;
}
h2, h3, h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}
.subhead {
    border-bottom: 0px;
    margin-top: 0.3em;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin: 1em auto;
}

table td, table th {
    padding: 0 0.2em;
}

p.authors {
    margin-top: 0;
}

img.logo {
    float: right;
    max-height: 120px;
    margin-left: 1em;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em auto;
    max-width: 500px;
}

.callout {
    background: #B3E6FF;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #45BAF3;
}
